/* App.css */
  /* h1, h2, h3 {
    color: #333;
    margin-left: 550px;
    margin-top: 150px;
    text-align: center;
  } */

  /* .hua {
    background-image: url("../image/落日.png");
    height: 900px; 固定高度
  } */

  /* .user ,.reviewer,.admin {
    margin-top: 50px;
    margin-left: 400px;
  }

  button {
    background-color: #4caf50;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

  button:hover {
    background-color: #45a049;
  }

  input {
    width: 50%;
    padding: 10px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }

  .registerButton, .LoginButton {
    margin-top: 50px;
    margin-left: 200px;
  }

  .goRegister, .goLogin {
    margin-left: 70%;
  } */
  
  